* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #dfdfdf;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  padding: 80px;
}

main {
  width: 90vw;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 5rem;
  border-radius: 10px;
}

section {
  border-radius: 20px;
}

.active {
  border: 7px solid #96bb7c;
}

.player {
  padding: 20px;
  width: 35%;
}

.player0 {
  float: left;
}

.player1 {
  float: right;
}

.score {
  font-size: 8rem;
}

.current {
  background-color: #008891;
  border-radius: 16px;
  font-size: 3.5rem;
  width: 190px;
  padding: 15px;
  margin: 80px auto 20px auto;
}

.instruct {
  color: #7e7474;
  font-size: 1rem;
}

.icon {
  width: 80px;
  border-radius: 15px;
}

.icon:hover {
  background-color: #ffb26b;
}

.newgame {
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

.dicediv {
  padding: 3px;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  border-radius: 10px;
}

.switchdice {
  background-color: #cc7351;
}

.dice {
  width: 100px;
}

.roll {
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translateX(-50%);
}

.hold {
  position: absolute;
  top: 45rem;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  font-size: 2rem;
  color: #cc7351;
  position: absolute;
  top: 57rem;
  left: 50%;
  transform: translateX(-50%);
}

.winner {
  border: 10px solid #d89216;
}

.hidden {
  display: none;
}
